/* You can add global styles to this file, and also import other style files */
.hero-image {
    position: relative;
    text-align: center;
    color: white;
  }

  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }